apiVersion: apps/v1
kind: Deployment
metadata:
  name: musicloud-server-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: musicloud-server-deployment
  template:
    metadata:
      labels:
        deployment: musicloud-server-deployment
    spec:
      volumes:
        - name: musicloud-server-data-volume
          persistentVolumeClaim:
            claimName: musicloud-server-data-volume-claim
        - name: musicloud-server-temp-volume
          emptyDir:
            sizeLimit: 2Gi
      hostAliases:
        - ip: "127.0.0.1"
          hostnames:
            - "php-fpm"
      containers:
        - name: php-fpm
          image: pldin601/musicloud-php-fpm:22.05.2404615532-c2d337f
          env:
            - name: DB_USERNAME
              valueFrom:
                configMapKeyRef:
                  name: musicloud-postgres-configmap
                  key: username
            - name: DB_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: musicloud-postgres-configmap
                  key: password
            - name: DB_HOSTNAME
              value: musicloud-postgres-service
            - name: DB_DATABASE
              value: musicloud
          volumeMounts:
            - mountPath: "/volume/media"
              name: musicloud-server-data-volume
            - mountPath: "/volume/temp"
              name: musicloud-server-temp-volume
        - name: nginx
          image: pldin601/musicloud-nginx:22.05.2404615532-c2d337f
          ports:
            - containerPort: 8080
