---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: frontend
  template:
    metadata:
      labels:
        deployment: frontend
    spec:
      containers:
        - name: frontend
          image: pldin601/radioterio-frontend:fac4aa42270d71f9c6e2aeee5a2591038f9870f2
          resources:
            requests:
              memory: "512Mi"
              cpu: "300m"
            limits:
              memory: "1024Mi"
              cpu: "600m"
          env:
            - name: NEXT_PUBLIC_API_SERVER_URL
              value: https://radioter.io/api-v2
            - name: NEXT_PUBLIC_PLAYBACK_SERVER_URL
              value: https://radioter.io/pb
