apiVersion: apps/v1
kind: Deployment
metadata:
  name: radio-manager-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      deployment: radio-manager-backend
  template:
    metadata:
      annotations:
        prometheus.io/scrape: "true"
        prometheus.io/port: "8080"
      labels:
        deployment: radio-manager-backend
    spec:
      containers:
        - name: streamer
          image: pldin601/myownradio-radio-manager-backend:24.10.11519774784-967697d
          resources:
            requests:
              memory: "512Mi"
              cpu: "190m"
            limits:
              memory: "1024Mi"
              cpu: "500m"
          env:
            - name: BIND_ADDRESS
              value: 0.0.0.0:8080
            - name: MYSQL_USER
              valueFrom:
                configMapKeyRef:
                  name: myownradio-mysql-configmap
                  key: username
            - name: MYSQL_PASSWORD
              valueFrom:
                configMapKeyRef:
                  name: myownradio-mysql-configmap
                  key: password
            - name: MYSQL_DATABASE
              valueFrom:
                configMapKeyRef:
                  name: myownradio-mysql-configmap
                  key: database
            - name: MYSQL_HOST
              value: myownradio-mysql.myownradio.svc.cluster.local
            - name: FILE_SERVER_ENDPOINT
              value: https://fs1.radioter.io/
            - name: RADIO_STREAMER_ENDPOINT
              valueFrom:
                configMapKeyRef:
                  name: myownradio-server
                  key: RADIO_STREAMER_INTERNAL_ENDPOINT
            - name: RADIO_STREAMER_TOKEN
              valueFrom:
                secretKeyRef:
                  name: myownradio-server
                  key: RADIO_STREAMER_TOKEN
            - name: FILE_SYSTEM_ROOT_PATH
              value: ""
            - name: PUBSUB_BACKEND_ENDPOINT
              value: http://radiomanager-pubsub-backend.myownradio.svc.cluster.local:8080
            - name: AUTH_JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: radiomanager-backend
                  key: AUTH_JWT_SECRET_KEY
            - name: LEGACY_AUTH_JWT_SECRET_KEY
              valueFrom:
                secretKeyRef:
                  name: myownradio-server
                  key: JWT_KEY
            - name: WEB_EGRESS_STREAM_PLAYER_URL_PREFIX
              value: https://radioter.io/new/player/
            - name: WEB_EGRESS_CONTROLLER_ENDPOINT
              value: http://radiomanager-web-egress-controller.myownradio.svc.cluster.local:8080
      imagePullSecrets:
        - name: dockerconfig
